<!DOCTYPE html>


<% content_for :header do %>
<style type="text/css">

  p { 
    color: black; 
    position: absolute;
    /*left: 260px;
    top: 250px;
    width: 388px;
	*/
    margin: 0;
  
  }

  h2 { 
    position: absolute;
    color: white;
    font-weight: bold;
    text-align: center;
    left: 262px;
    top: 401px;
    width: 388px;
    margin: 0;
  }

 #blackout {
	width: 900px;
	height: 300px;
	background-color: black;
	z-index: 2;
	position:relative;
	}


  #intro {
    background-image: url(<%= asset_path 'title_clean.png' %>);
    width: 900px;
    height: 500px;
  }

	.menu-items {
		position:relative;
		width: 100%;
		padding: 0px;
		margin: auto;
		list-style: none;
		text-align: center;
		vertical-align: center;
	}

	#story {
		position: relative;
		margin: auto;
		padding-bottom: 15px;
		}

	.center-content {
		position: absolute;
		left: 262px;
		width: 380px;
		z-index: 1;
		color: #FFFF32;
		text-align: center;
	}

	.center-content dt {
		text-align: left;
		font-weight: bold;
	}

	.center-content dd {
		text-align: left;
		margin-left: 1em;
	}

	.initially-hidden {
		top: 550px;
	}

	#main {
		top: 250px;
	}

	.top-scores {
		text-align: center;
	}

	.top-scores h3 {
		margin-top: -5px;
		padding-top: 0;
	}
		

	.top-scores ol {
		padding: 0;
		margin: 0;
		list-style-position: inside;
	}

	.credits h4 {
		text-align: center;
		font-size: 14px;
		margin: 0;
	}
	.credits h5 {
		color: #FFFFFF;
		text-align: center;
		margin: 10px 0 35px 0;
		padding: 0;
		
	}

	.menu-items li {
		background-image: url(<%= asset_path('button_empty.png') %>);
		background-repeat: no-repeat;
		height: 78px;
		width: 288px;
		line-height: 70px;
		margin: auto;
		padding-bottom: 5px;
		padding-top: 5px;
		color: #961315;
	}

	.menu-items li:hover {
		background-image: url(<%= asset_path('button_empty_hover.png') %>);
		height: 78px;
		padding-bottom: 5px;
		padding-top: 5px;
		background-repeat: no-repeat;
	}

</style>


<script type="text/javascript">
	var images = new Array()
	function preload() {
		for (i = 0; i < preload.arguments.length; i++) {
			images[i] = new Image()
			images[i].src = preload.arguments[i]
		}
	}
	preload(
		"<%= asset_path('button_empty.png') %>",
		"<%= asset_path('button_empty_hover.png') %>"
	)
		
  var ENTER_KEY = 13;
  function onKeyDown($evt) {
    $evt.preventDefault();
    if ($evt.keyCode==ENTER_KEY) {
      window.location = "/play";
    }
  }
/*
  function blinker() {
       $('#enterText').toggle(); 
       window.setTimeout(blinker, 50000/60);
  }
*/
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

	var content = [];
	var contentIndex =0;
	var initializing = true;
	try {
		contentIndex= Math.abs(parseInt(getParameterByName("ci")));
	} catch (e) {
		contentIndex = 0;
	} finally {
		contentIndex= (contentIndex) ? contentIndex : 0;
	}
	
	var request;

	function animateContent(hide, show) {
		hide.animate({top:"550px"}, function () {
			show.animate({top:"250px"}, function () {
					if (initializing) { initializing = false; }})
			});
	}

	function showNextContent() {
		var next = (contentIndex+1) % content.length;
		animateContent(content[contentIndex], content[next]);
		contentIndex = next;
		request = window.setTimeout(showNextContent, 5000);
	}


  $('document').ready( function() {
      window.onkeydown = onKeyDown;
	  //initialize content to show
	  content.push($('#main'));
	  content.push($('#todays-top-scores'));
	  content.push($('#top-scores'));
	  content.push($('#credits'));

	contentIndex %= content.length;

  	if ( pdm.hasSavedGame()){
		//We found a saved game
		$("#story").addClass("no-display");
		$("#continue").click(function () { window.location = "play";}).removeClass("no-display");
  	}

	$("#new").click(function() { 
		if (!pdm.canSave()) {
			alert("Whoops! Web storage not available. That means we can't save your game, so you'll have to beat it in one go like a boss. Go get 'em tiger.");
		} else if (pdm.hasSavedGame()) {
			deleteSavedGame();	
		}
		window.location="/play";
		});

	$(window).mousemove(function () { 
		if (initializing) {return;}
		window.clearTimeout(request);
		if (contentIndex != 0) {
			animateContent(content[contentIndex], content[0]);
			contentIndex = 0;
		}
		request=window.setTimeout(showNextContent, 5000);
	});

	if (contentIndex>0){
		animateContent(content[0], content[contentIndex]);
	}

	request=window.setTimeout(showNextContent, 5000);

  });

</script>

<% end %>

<!--
<audio id="theme" preload="auto" autoplay="true" loop="true">
    <source src="audio/theme.mp3" type="audio/mp3" />
    <source src="audio/theme.ogg" type="audio/ogg" />
    Welcome to PandaDragonMaze! The Pandas are being burgled! Twist through the burgler's mazes and save them before it&#145;s too late! 

    It looks like you need to switch to an HTML 5-enabled browser! We recommend Google Chrome because it's fast!
</audio>
-->
<div id="intro">
  <div id="main" class="center-content">
	  <p id="story" >The pandas are being burgled! Twist through the burgler&#146;s mazes and save them before it&#146;s too late!</p>
		<ul class="menu-items">
			<li id="continue" class="no-display">Continue</li>
			<li id="new">New game</li>
		</ul>
	</div>
  <!-- <h2 id="enterText">Press Enter</h2> -->
</div>
<div id="blackout">
	&nbsp;
</div>

<div id="todays-top-scores" class="center-content initially-hidden top-scores">
	<h3>Today's Top Scores</h3>
	<ol>
		<% @tt_today.each do |s| %>
		<li>
			<%= s.name %><% (12-s.score.to_s().length()).times do %><%=  "." %><% end %><%= s.score %>%
		</li>
		<% end %>
	</ol>
</div>

<div id="top-scores" class="center-content initially-hidden top-scores">
	<h3>All-Time Top Scores</h3>
	<ol>
		<% @tt.each do |s| %>
		<li>
			<%= s.name %><% (12-s.score.to_s().length()).times do %><%=  "." %><% end %><%= s.score %>%
		</li>
		<% end %>
	</ol>
</div>

<div id="credits" class="center-content initially-hidden credits">
	<h4>GAME DESIGN</h4>
	<h5>Mark Thomas</h5>
	<h4>MUSIC AND SOUND FX</h4>
	<h5>Matt Thomas</h5>
	<h4>GRAPHICS</h4>
	<h5>Black Moon Design
		blackmoondev.com</h5>
</div>
