<!DOCTYPE html>
<% content_for :header do %>
  <script type="text/javascript">
    $(document).ready(init);
  </script>
<% end %>

        <!-- note that all audio functionality is controlled with custom js -->
        <audio id="theme" preload="auto">
            <source src="audio/theme.mp3" type="audio/mp3" />
            <source src="audio/theme.ogg" type="audio/ogg" />
            Welcome to PandaDragonMaze! The pandas are being burgled! Twist through the burgler's mazes to save them before it's too late! But first, your broswer does not support HTML 5 audio! Get with it, install the latest version of Chrome, Firefox, Opera, Safari, or even Internet Explorer and start playing!
        </audio>
        <audio id="defeat" preload="auto">
            <source src="audio/defeat.mp3" type="audio/mp3" />
            <source src="audio/defeat.ogg" type="audio/ogg" />
        </audio>
        <audio id="pick_up" preload="auto">
            <source src="audio/pick_up.mp3" type="audio/mp3" />
            <source src="audio/pick_up.ogg" type="audio/ogg" />
        </audio>
        <audio id="victory" preload="auto">
            <source src="audio/victory.mp3" type="audio/mp3" />
            <source src="audio/victory.ogg" type="audio/ogg" />
        </audio>
        <div id="lightbox" class="lightbox no-display">
			<canvas class="canvas" id="map-canvas" style="z-index: 4;"></canvas>

        	<!-- <div class="ops_panel" id="options_text"> -->
			<div class="options" id="options-container">
				<div id="options-list-container">
					<ul id="options">
						<li id="ctrl_speed"> <img src="<%= asset_path('options_speed.png') %>"></li>
						<li id="ctrl_fx">
							<img id="fx-on" src="<%= asset_path('options_soundfx_on.png') %>">
							<img id="fx-off" class="no-display"  src="<%= asset_path('options_soundfx_off.png') %>">
						</li>
						<li id="ctrl_music">
							<img id="music-on" src="<%= asset_path('options_music_on.png') %>">
							<img id="music-off" class="no-display" src="<%= asset_path('options_music_off.png') %>">
						</li>
						<li id="home"><img src="<%= asset_path('options_home.png') %>"></li>
						<li id="options_link"><img src="<%= asset_path('options_back.png') %>"></li>
					</ul>
				</div>
				<!--
	            <h2>Options</h2>
	            <h4>Sound</h4>
	            <input id="ctrl_fx" type="checkbox" name="soundfx" value="FX" checked="true"/> <label for="ctrl_fx">Sound effects</label> <br/>
	            <input id="ctrl_music" type="checkbox" name="music" value="music" checked="true"/> <label for="ctrl_music">Music</label>

	            <h4>Speed</h4>
	            <input id="speed_0" type="radio" name="speed" value="5"> <label for="speed_0">Hyperspeed</label><br>
	            <input id="speed_1" type="radio" name="speed" value="10" checked> <label for="speed_1">Mere mortal</label><br>
	            <input id="speed_2" type="radio" name="speed" value="15"> <label for="speed_2">Senior citizen</label><br>

	            <div class="optionsFooter">
	              <a href="#" id="options_done">Done</a>
	              <a href="#" id="quit">Quit</a>
	            </div>
				-->
				
        	</div>
      </div>
		<div id="alert" class="canvas no-display lightbox">
			<p id="alert-text" class="alert ">&nbsp;</p>
			<a id="alert-close" href="#" class="alert-button">ok</a>
		</div>
		</div>
		<!--
        <div id="scorebar" class="scorebar">
				<ul>
					<li id="score">
							<img src="<%= asset_path('Panda.png') %>">
							<span id="total_score">0</span>+<span id="level_score">0</span></span>
					</li>
					<li id="mapItem"><img src="<%= asset_path('mapItem.png') %>"></li>
				</ul>
				<div id="pause">||</div>
        </div>
		-->
        <div class="canvas" id="game-content">
                <canvas class="canvas" id="tile-canvas" style="z-index: 1;"></canvas>
                <canvas class="canvas" id="maze-canvas" style="z-index: 2;"></canvas>
                <canvas class="canvas" id="maze-canvas-background" style="z-index: 3;"></canvas>
        </div>
