<!DOCTYPE html>
<html>
<head>
  <!-- -->
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=0.5"> 
  <title>Panda Dragon Maze</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
				/*
			  var w = Math.max(Response.viewportH(), Response.viewportW());
			  var h = Math.min(Response.viewportH(), Response.viewportW());
			  var scale = Math.min(w/900, h/500);
			  document.getElementById("viewport").setAttribute('content', "minimum-scale="+scale+", maximum-scale="+scale+", initial-scale="+scale+", user-scalable=no");
				*/
			  //pdm.setViewportScale();

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-28958846-1']);
              _gaq.push(['_setDomainName', 'pandadragonmaze.com']);
              _gaq.push(['_trackPageview']);
            
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            
			  /* Risk and fraud detection */
			  var _user_id = "$ip"; // IMPORTANT! Set to the user's account name, or "$ip" if unknown
			
			  var _sift = _sift || []; _sift.push(['_setAccount', 'c6010c8927']); _sift.push(['_setUserId', _user_id]); _sift.push(['_trackPageview']); (function() { function ls() { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dtlilztwypawv.cloudfront.net/s.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); } if (window.attachEvent) { window.attachEvent('onload', ls); } else { window.addEventListener('load', ls, false); }})();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
